.torque-floor-plans {
  margin-bottom: 30px;

  .torque-floor-plans-selector {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    @include respond-to(desktop) {
      justify-content: flex-end;
    }

    .torque-floor-plans-list {
      order: 0;

      width: 100%;

      @include respond-to(desktop) {
        overflow-y: auto;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 30%;
        max-width: 400px;
      }
    }

    .torque-floor-plans-thumbnail {
      order: 1;

      width: 100%;
      height: auto;

      @include respond-to(desktop) {
        padding-left: 1%;
        width: 70%;
        box-sizing: border-box;
      }
    }
  }
}
