.torque-floor-plans {
  .torque-floor-plans-selector {
    display: flex;
    flex-wrap: wrap;

    .torque-floor-plans-list {
      order: 2;

      width: 100%;

      @include respond-to(desktop) {
        order: 1;

        width: 30%;
      }
    }

    .torque-floor-plans-thumbnail {
      order: 1;

      width: 100%;
      height: auto;

      @include respond-to(desktop) {
        order: 2;

        padding-left: 1%;
        width: 70%;
        box-sizing: border-box;
      }
    }
  }
}
