.torque-floor-plans {
  .torque-floor-plans-selector {
    .torque-floor-plans-list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 80px 7%;
      box-sizing: border-box;

      background-color: $charcoal-grey;
      color: $white;
      text-align: center;

      @include respond-to(desktop) {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 80px 0;
      }

      h4 {
        display: none;
      }

      .option {
        padding: 20px;
        width: 100px;

        @include respond-to(tablet) {
          width: 33%;
          box-sizing: border-box;
        }

        @include respond-to(desktop) {
          width: 100%;
        }

        .floor {
          display: none;
        }

        .title,
        .rsf {
          width: 100%;
        }

        .title {
          font-weight: bold;
        }

        &.active {
          background-color: $mustard;
        }
      }
    }
  }
}
