.torque-floor-plans {
  .torque-floor-plans-selector {
    .torque-floor-plans-list {
      padding-right: 0;

      background-color: $charcoal-grey;
      color: $white;
      text-align: center;

      @include respond-to(desktop) {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 80px 0;
      }

      .dropdown-wrapper {
        .dropdown-title {
          position: relative;
          padding: 10px $bodyPadding1;
          padding-right: $bodyPadding2;

          background-color: $mustard;

          @include respond-to(desktop) {
            display: none;
          }

          &::after {
            content: url("../statics/images/down.png");
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(60px, -50%) rotateX(0deg);

            transition: all 0.5s ease;
          }
        }

        &.open {
          .dropdown-title {
            box-shadow: 0 8px 6px -6px black;

            &::after {
              transform: translate(60px, -50%) rotateX(180deg);
            }
          }
        }

        .dropdown-items {
          @include respond-to(desktop) {
            max-height: none !important;
          }
        }
      }

      h4 {
        display: none;
      }

      .option {
        padding: 20px;
        width: 100%;
        box-sizing: border-box;

        cursor: pointer;

        @include respond-to(desktop) {
          width: 100%;
        }

        .floor {
          display: none;
        }

        .title,
        .rsf {
          width: 100%;
        }

        .title {
          font-weight: bold;
        }

        &.active {
          background-color: $mustard;
        }
      }
    }
  }
}
