.torque-floor-plans {
  .torque-floor-plans-thumbnail {
    img {
      width: 90%;
      height: auto;
      padding: 30px $bodyPadding1;
      box-sizing: border-box;
    }

    .floor-plan-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .floor-plan-info-block {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 15px;
        padding: 30px $bodyPadding2;
        width: 100%;
        box-sizing: border-box;

        background-color: $charcoal-grey;
        color: $white;

        @include respond-to(tablet) {
          padding: 30px 40px;
          width: 32%;
        }

        @include respond-to(desktop) {
          margin-bottom: 0px;
        }

        .title {
          font-weight: bold;
        }

        &.floor-plan-share {
          .icons-wrapper {
            display: flex;
            justify-content: space-between;

            .share-icon {
              img {
                padding: 0;
                padding-top: 10px;
              }
            }
          }

          .social-wrapper {
            background-color: $charcoal-grey;
          }
        }

        &.floor-plan-key {
          img {
            padding: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
