// colours
$white: #fff;
$black: #000;
$mustard: #cfb400;
$teal-blue: #0091b3;
$charcoal-grey: #323e48;
$charcoal-grey_65: rgba(50, 62, 72, 0.65);
$beige: #c3c2bf;
$pale: #e4e3df;
$pale_85: rgba(228, 227, 223, 0.85);
$orange: #cd691b;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// padding
$bodyPadding0: 4.5vw;
$bodyPadding1: 9vw;
$bodyPadding2: 17.5vw;

// fonts
$font_primary: "Montserrat", sans-serif;
$font_secondary: "VisbySlabCF", serif;
$font_script: "JasmineScript", cursive;
