.content-section {
  position: relative;
  padding: 70px $bodyPadding2 60px;

  @include respond-to(desktop) {
    padding: 20px 40vw 40px 23vw;
  }

  .content-wrapper {
    position: relative;
    z-index: 5;

    h1 {
      margin-right: -20px;
      padding-left: 20px;

      @include respond-to(tablet) {
        margin-right: -60px;
      }

      @include respond-to(desktop) {
        padding-left: 0px;
      }

      em {
        display: block;
        margin-left: -20px;

        @include respond-to(tablet) {
          margin-left: -40px;
        }

        @include respond-to(desktop) {
          margin-left: -150px;
        }
      }
    }
  }

  &.right {
    @include respond-to(desktop) {
      padding: 90px 23vw 80px 40vw;

      h1 {
        margin-left: -17vw;
      }
    }
  }

  &.left {
    @include respond-to(desktop) {
      h1 {
        margin-right: -30vw;
        padding-left: 17vw;
      }
    }
  }
}
